@model SpadStorePanel.Web.ViewModels.NavbarViewModel

<header id="header" class="header style-04 header-transparent header-sticky">
    <div class="header-middle">
        <div class="header-middle-inner">
            <div class="header-search-mid">
                <div class="header-search">
                    <div class="block-search">
                        <form role="search" method="get"
                              class="form-search block-search-form lynessa-live-search-form">
                            <div class="form-content search-box results-search">
                                <div class="inner">
                                    <input autocomplete="off" class="searchfield txt-livesearch input" name="s"
                                           value="" placeholder="جستجو .." type="text">
                                </div>
                            </div>
                            <input name="post_type" value="product" type="hidden">
                            <input name="taxonomy" value="product_cat" type="hidden">

                            <button type="submit" class="btn-submit">
                                <span class="pe-7s-search"></span>
                            </button>
                        </form><!-- block search -->
                    </div>
                </div>
            </div>
            <div class="header-logo-menu">
                <div class="block-menu-bar">
                    <a class="menu-bar menu-toggle" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>

            </div>
            <div class="header-control">
                <div class="header-control-inner">
                    <div class="meta-dreaming">
                        <div class="menu-item block-user block-dreaming lynessa-dropdown">
                            <a class="block-link" href="my-account.html">
                                <span class="pe-7s-user"></span>
                            </a>

                        </div>
                        <div class="block-minicart block-dreaming lynessa-mini-cart lynessa-dropdown">
                            <div class="shopcart-dropdown block-cart-link" data-lynessa="lynessa-dropdown">
                                <a class="block-link link-dropdown" href="cart.html">
                                    <span class="pe-7s-shopbag"></span>
                                    <span class="count">3</span>
                                </a>
                            </div>
                            <div class="widget lynessa widget_shopping_cart">
                                <div class="closingbtn" style="width: 50px ; height: 50px ; position: absolute; right: 0 ; top:  0;">
                                    <i class="fa fa-close" style="font-size: 45px;"></i>

                                </div>
                                <div class="widget_shopping_cart_content">
                                    <h3 class="minicart-title">
                                        حساب شما<span class="minicart-number-items">3</span>
                                    </h3>
                                    <ul class="lynessa-mini-cart cart_list product_list_widget">
                                        <li class="lynessa-mini-cart-item mini_cart_item">
                                            <a href="#" class="remove remove_from_cart_button">×</a>
                                            <a href="#">
                                                <img src="~/Content/client/images/13.jpg"
                                                     class="attachment-lynessa_thumbnail size-lynessa_thumbnail"
                                                     alt="img" width="600" height="300px">رویال دو ویژه
                                            </a>
                                            <span class="quantity">
                                                1 × <span class="lynessa-Price-amount amount">
                                                    <span class="lynessa-Price-currencySymbol">$</span>150.00
                                                </span>
                                            </span>
                                        </li>
                                        <li class="lynessa-mini-cart-item mini_cart_item">
                                            <a href="#" class="remove remove_from_cart_button">×</a>
                                            <a href="#">
                                                <img src="~/Content/client/images/14.jpg"
                                                     class="attachment-lynessa_thumbnail size-lynessa_thumbnail"
                                                     alt="img" width="600" height="300px"> محصول
                                            </a>
                                            <span class="quantity">
                                                1 × <span class="lynessa-Price-amount amount">
                                                    <span class="lynessa-Price-currencySymbol">$</span>129.00
                                                </span>
                                            </span>
                                        </li>
                                        <li class="lynessa-mini-cart-item mini_cart_item">
                                            <a href="#" class="remove remove_from_cart_button">×</a>
                                            <a href="#">
                                                <img src="~/Content/client/images/12.jpg"
                                                     class="attachment-lynessa_thumbnail size-lynessa_thumbnail"
                                                     alt="img" width="600" height="300px"> محصول
                                            </a>
                                            <span class="quantity">
                                                1 × <span class="lynessa-Price-amount amount">
                                                    <span class="lynessa-Price-currencySymbol">$</span>139.00
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                    <p class="lynessa-mini-cart__total total">
                                        <strong>جمع کل</strong>
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>418.00
                                        </span>
                                    </p>
                                    <p class="lynessa-mini-cart__buttons buttons">
                                        <a href="cart.html" class="button lynessa-forward">مشاهده سبد خرید</a>
                                        <a href="#"
                                           class="button checkout lynessa-forward">تسویه حساب</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="header-wrap-stick" style="position: relative; top: 30px;">
        <div class="header-position">
            <div class="header-nav">
                <div class="container">
                    <div class="lynessa-menu-wapper"></div>
                    <div class="header-nav-inner">
                        <div class="box-header-nav menu-nocenter" style="position: relative;">

                            <div class="header-logo">
                                <a href="#">
                                    <img alt="Lynessa" src="~/Content/client/images/mainlogo3.png" class="logo">
                                </a>
                            </div>



                            <ul id="menu-primary-menu"
                                class="clone-main-menu lynessa-clone-mobile-menu lynessa-nav main-menu">
                                <li id="menu-item-230"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230 parent parent-megamenu item-megamenu ">
                                    <a class="lynessa-menu-item-title" title="صفحه اصلی" href="~/home">صفحه اصلی</a>


                                </li>
                                <li id="menu-item-228"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-228 parent parent-megamenu item-megamenu menu-item-has-children">
                                    <a class="lynessa-menu-item-title" title="محصولات"
                                       href="~/shop">محصولات</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu megamenu megamenu-elements">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="lynessa-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">محصول </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">محصول</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">محصول</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    محصول
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    محصول
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="lynessa-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            محصول
                                                        </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    محصول
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    محصول
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    محصول
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    محصول
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    محصول
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="lynessa-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            محصول
                                                        </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    اینستاگرام
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    خبرنامه
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   target="_self">
                                                                    تست
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>

                                <li id="menu-item-996"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-996 parent parent-megamenu item-megamenu">
                                    <a class="lynessa-menu-item-title" title="بلاگ"
                                       href="~/blog">بلاگ</a>


                                </li>
                                <li id="menu-item-237"
                                    class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-237 parent">
                                    <a class="lynessa-menu-item-title" title="درباره ما" href="~/home/about">درباره ما</a>


                                </li>
                                <li id="menu-item-237"
                                    class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-237 parent">
                                    <a class="lynessa-menu-item-title" title="تماس با ما" href="~/home/contactUs">تماس با ما</a>


                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-left">
            <div class="block-menu-bar">
                <a class="menu-bar menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="header-search lynessa-dropdown">
                <div class="header-search-inner" data-lynessa="lynessa-dropdown">
                    <a href="#" class="link-dropdown block-link">
                        <span class="pe-7s-search"></span>
                    </a>
                </div>
                <div class="block-search">
                    <form role="search" method="get"
                          class="form-search block-search-form lynessa-live-search-form">
                        <div class="form-content search-box results-search">
                            <div class="inner">
                                <input autocomplete="off" class="searchfield txt-livesearch input" name="s" value=""
                                       placeholder="جستجو..." type="text">
                            </div>
                        </div>

                        <button type="submit" class="btn-submit">
                            <span class="pe-7s-search"></span>
                        </button>
                    </form><!-- block search -->
                </div>
            </div>

        </div>

        <div class="header-mobile-right">
            <div class="header-control-inner">
                <div class="meta-dreaming">
                    <div class="menu-item block-user block-dreaming lynessa-dropdown">
                        <a class="block-link" href="my-account.html">
                            <span class="pe-7s-user"></span>
                        </a>

                    </div>
                    <div class="block-minicart block-dreaming lynessa-mini-cart lynessa-dropdown">
                        <div class="shopcart-dropdown block-cart-link" data-lynessa="lynessa-dropdown">
                            <a class="block-link link-dropdown" href="#">
                                <span class="pe-7s-shopbag"></span>
                                <span class="count">3</span>
                            </a>
                        </div>
                        <div class="widget lynessa widget_shopping_cart">
                            <div class="closingbtn" style="width: 50px ; height: 50px ; position: absolute; right: 0 ; top:  0;">
                                <i class="fa fa-close" style="font-size: 45px;"></i>

                            </div>
                            <div class="widget_shopping_cart_content">
                                <h3 class="minicart-title">حساب شما<span class="minicart-number-items">3</span></h3>
                                <ul class="lynessa-mini-cart cart_list product_list_widget">
                                    <li class="lynessa-mini-cart-item mini_cart_item">
                                        <a href="#" class="remove remove_from_cart_button">×</a>
                                        <a href="#">
                                            <img src="~/Content/client/images/13.jpg"
                                                 class="attachment-lynessa_thumbnail size-lynessa_thumbnail"
                                                 alt="img" width="600" height="300px">رویال دو ویژه
                                        </a>
                                        <span class="quantity">
                                            1 × <span class="lynessa-Price-amount amount">
                                                <span class="lynessa-Price-currencySymbol">$</span>150.00
                                            </span>
                                        </span>
                                    </li>
                                    <li class="lynessa-mini-cart-item mini_cart_item">
                                        <a href="#" class="remove remove_from_cart_button">×</a>
                                        <a href="#">
                                            <img src="~/Content/client/images/14.jpg"
                                                 class="attachment-lynessa_thumbnail size-lynessa_thumbnail"
                                                 alt="img" width="600" height="300px">نام محصولات
                                        </a>
                                        <span class="quantity">
                                            1 × <span class="lynessa-Price-amount amount">
                                                <span class="lynessa-Price-currencySymbol">$</span>129.00
                                            </span>
                                        </span>
                                    </li>
                                    <li class="lynessa-mini-cart-item mini_cart_item">
                                        <a href="#" class="remove remove_from_cart_button">×</a>
                                        <a href="#">
                                            <img src="~/Content/client/images/13.jpg"
                                                 class="attachment-lynessa_thumbnail size-lynessa_thumbnail"
                                                 alt="img" width="600" height="300px">نام محصولات
                                        </a>
                                        <span class="quantity">
                                            1 × <span class="lynessa-Price-amount amount">
                                                <span class="lynessa-Price-currencySymbol">$</span>139.00
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                                <p class="lynessa-mini-cart__total total">
                                    <strong>مجموع</strong>
                                    <span class="lynessa-Price-amount amount">
                                        <span class="lynessa-Price-currencySymbol">$</span>418.00
                                    </span>
                                </p>
                                <p class="lynessa-mini-cart__buttons buttons">
                                    <a href="cart.html" class="button lynessa-forward">مشاهده سبد خرید</a>
                                    <a href="#" class="button checkout lynessa-forward">تسویه حساب</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>







@*<div class="main_navbar">
    <nav class="navbar navbar-fixed-top navbar-softlan">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <img class="main_logo"
                         src="~/Content/client/wp-content/themes/uniqo/img/logo.png"
                         alt="زینو جم">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="menu-main_menu-container">
                    <ul id="menu-main_menu" class="nav navbar-nav" itemscope
                        itemtype="#">


                        <li id="menu-item-1750"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1750 nav-item">
                            <a itemprop="url" href="~/home/contactUsForm" class="nav-link"><span itemprop="name">تماس با ما</span></a>
                        </li>
                        <li id="menu-item-662"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-662 nav-item">
                            <a itemprop="url" href="~/home/about" class="nav-link"><span itemprop="name">درباره ما</span></a>
                        </li>
                        <li id="menu-item-663"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-663 nav-item">
                            <a itemprop="url" href="~/blog" class="nav-link"><span itemprop="name">بلاگ</span></a>
                        </li>
                        <li id="menu-item-660"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-660 nav-item">
                            <a href="~/home/products" data-toggle="" aria-haspopup="true" aria-expanded="false"
                               class="dropdown-toggle nav-link" id="menu-item-dropdown-660"><span itemprop="name">محصولات</span></a>
                            <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-660">
                                @foreach (var category in Model.ProductCategories)
                                {
                                    <li id="menu-item-@category.Id"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children dropdown menu-item-@category.Id nav-item">
                                        <a itemprop="url"
                                           href="~/home/products/@category.Id"
                                           class="dropdown-item" aria-haspopup="true" aria-expanded="false">
                                            <span itemprop="name">@category.Title</span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-660">
                                            @foreach (var product in category.Products)
                                            {

                                                <li id="menu-item-@product.Id"
                                                    class="menu-item menu-item-type-post_type menu-item-object-product menu-item-@product.Id nav-item">
                                                    <a itemprop="url"
                                                       href="~/home/products/@category.Id"
                                                       class="dropdown-item">
                                                        <span itemprop="name">@product.Title</span>
                                                    </a>
                                                </li>

                                            }
                                        </ul>
                                    </li>
                                }

                                @*<li id="menu-item-2223"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children dropdown menu-item-2223 nav-item">
                                        <a itemprop="url"
                                           href="~/home/products"
                                           class="dropdown-item" aria-haspopup="true" aria-expanded="false">
                                            <span itemprop="name">ماسک</span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-660">
                                            <li id="menu-item-2231"
                                                class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2231 nav-item">
                                                <a itemprop="url"
                                                   href="~/home/products"
                                                   class="dropdown-item"><span itemprop="name">ماسک</span></a>
                                            </li>
                                            <li id="menu-item-2224"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2224 nav-item">
                                                <a itemprop="url"
                                                   href="~/home/products"
                                                   class="dropdown-item">
                                                    <span itemprop="name">ماسک</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-2225"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children dropdown menu-item-2225 nav-item">
                                        <a itemprop="url"
                                           href="~/home/products"
                                           class="dropdown-item" aria-haspopup="true" aria-expanded="false">
                                            <span itemprop="name">دستکش</span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-660">
                                            <li id="menu-item-2227"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2227 nav-item">
                                                <a itemprop="url"
                                                   href="~/home/products"
                                                   class="dropdown-item"><span itemprop="name">دستکش</span></a>
                                            </li>
                                            <li id="menu-item-2226"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2226 nav-item">
                                                <a itemprop="url"
                                                   href="~/home/products"
                                                   class="dropdown-item"><span itemprop="name">دستکش</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-2228"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children dropdown menu-item-2228 nav-item">
                                        <a itemprop="url"
                                           href="~/home/products"
                                           class="dropdown-item" aria-haspopup="true" aria-expanded="false">
                                            <span itemprop="name">ماسک</span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-660">
                                            <li id="menu-item-2230"
                                                class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2230 nav-item">
                                                <a itemprop="url"
                                                   href="~/home/products"
                                                   class="dropdown-item">
                                                    <span itemprop="name">ماسک</span>
                                                </a>
                                            </li>
                                            <li id="menu-item-2229"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2229 nav-item">
                                                <a itemprop="url"
                                                   href="~/home/products"
                                                   class="dropdown-item">
                                                    <span itemprop="name">ماسک</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>*@
                            @*</ul>
                        </li>
                        <li id="menu-item-1751"
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active menu-item-1751 nav-item">
                            <a itemprop="url" href="~/home/index" class="nav-link" aria-current="page">
                                <span itemprop="name">خانه</span>
                            </a>
                        </li>
                    </ul>
                </div>

                @using (Html.BeginForm("", "Blog", FormMethod.Get, new { @class = "hp-search-form ", role = "search", id = "hp-search-form" }))
                {
                    <div id="search_form_group" class="form-group">
                        <input type="submit" class="hp-search_btn" value=" " id="search_icon" />
                        <input type="search" id="search_text" class="hp-search-input form-control"
                               placeholder="جستجو ..." value="" name="searchString" />
                    </div>
                }

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>*@