@model List<SpadStorePanel.Web.ViewModels.ArticleCategoriesViewModel>

@*<div class="blog-left-title">
    دسته بندی
</div>
@if (Model.Any())
{
    <ul class="blog-category">
        @foreach (var category in Model)
        {
            <li>
                <a href="/Blog/@category.Id/@category.Title.Replace(" ","-")">
                    @category.Title
                </a>
            </li>
        }
    </ul>
}*@
    <div id="categories-3" class="widget widget_categories">
        <h2 class="widgettitle">
            دسته بندی ها<span class="arrow"></span>
        </h2>
        <ul>
            <li class="cat-item cat-item-51">
                <a href="#"> دسته 1</a>
            </li>
            <li class="cat-item cat-item-49">
                <a href="#">دسته 2</a>
            </li>
            <li class="cat-item cat-item-52">
                <a href="#"> دسته 3</a>
            </li>
            <li class="cat-item cat-item-53">
                <a href="#"> دسته 4</a>
            </li>
            <li class="cat-item cat-item-50">
                <a href="#">
                    دسته 5
                </a>
            </li>
        </ul>
    </div>


