@model SpadStorePanel.Web.ViewModels.InstaGalleryViewModel


    <div id="widget_lynessa_instagram-3" class="widget widget-lynessa-instagram">
        <h2 class="widgettitle">
            اینستاگرام<span class="arrow"></span>
        </h2>
        <div class="content-instagram">
            @foreach (var item in Model.Images)
            {
                <a target="_blank" href="#" class="item">
                    <img class="img-responsive" src="~/Files/StaticContentImages/Image/@item.Image"
                         alt="Not your ordinary multi service.">
                </a>
            }
        </div>
    </div>