@model List<SpadStorePanel.Web.ViewModels.LatestArticlesViewModel>


<div id="widget_lynessa_post-2" class="widget widget-lynessa-post">
    <h2 class="widgettitle">
        پست های اخیر
        <span class="arrow"></span>
    </h2>
    <div class="lynessa-posts">
        @if (Model.Any())
        {
            for (int i = 0; i < 4; i++)
            {
                <article class="post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                    <div class="post-item-inner">
                        <div class="post-thumb">
                            <a href="/Blog/Posts/@Model[i].Id">
                                <img src="/Files/ArticleImages/Thumb/@Model[i].MainImage"
                                     class="img-responsive attachment-83x83 size-83x83" alt="@Model[i].Title" width="83"
                                     height="83">
                            </a>
                        </div>
                        <div class="post-info">
                            <div class="block-title">
                                <h2 class="post-title">
                                    <a href="/Blog/Posts/@Model[i].Id">@Model[i].Title</a>
                                </h2>
                            </div>
                            <div class="date"> @Model[i].PersianDate </div>
                        </div>
                    </div>
                </article>
            }

        }
       
    </div>
</div>
