@model SpadStorePanel.Web.ViewModels.CartModel

@{
    ViewBag.Title = "پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-wrapper has_background">
    @*<img src="~/Content/client/images/23.jpg"
        class="img-responsive attachment-1920x447 size-1920x447 col-md-12" alt="img" style="opacity: 0.3;">*@
    <img src="~/Files/StaticContentImages/Image/@ViewBag.BackImage"
         class="img-responsive attachment-1920x447 size-1920x447 col-md-12" alt="img" style="opacity: 0.3;">
    <div class="banner-wrapper-inner">
        <h1 class="page-title"> @ViewBag.Title </h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="~/Home"><span>خانه</span></a></li>
                <li class="trail-item trail-end active">
                    <span> @ViewBag.Title </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main main-container no-sidebar">
    <div id="CartTable">
        @Html.Action("CartTable", "Shop", new { area = "" })
    </div>
</main>

@section scripts
{
    <script>
        @*var productQty = @Model*@

    </script>
    <script>
    $(document).ready(function () {


    }

    </script>

}