@model List<SpadStorePanel.Web.ViewModels.ProductCategoriesViewModel>


<div id="lynessa_product_categories-3" class="widget lynessa widget_product_categories">
    <h2 class="widgettitle">
        بر اساس نوع<span class="arrow"></span>
    </h2>
    <ul class="product-categories">
        @foreach (var group in Model)
        {
            <li class="cat-item cat-item-@group.Id">

                <label>
                    <a href="javascript:void(0);" onclick="UpdateGroup(@group.Id)">
                        <input type="checkbox" id="checkbox-@group.Id"
                               name="cate" value="@group.Id"><span>@group.Title</span>
                            <span class="count">(@group.ProductCount)</span>
                        </a>
                    </label>
                </li>
            }

    </ul>
</div>




