@model List<SpadStorePanel.Web.ViewModels.ProductDescriptionViewModel>
@*@model List<SpadStorePanel.Web.ViewModels.ProductCategoriesViewModel>*@


@*<div class="blog-left-title">
        دسته بندی
    </div>
    @if (Model.Any())
    {
        <ul class="blog-category">
            @foreach (var category in Model)
            {
                <li>
                    <a href="/Blog/@category.Id/@category.Title.Replace(" ","-")">
                        @category.Title
                    </a>
                </li>
            }
        </ul>
    }*@
@*<div id="categories-3" class="widget widget_categories">
        <h2 class="widgettitle">
            دسته بندی ها<span class="arrow"></span>
        </h2>
        <ul>
            @foreach (var item in Model)
            {
                <li class="cat-item cat-item-51">
                    <a href="#">@item.Title</a>
                </li>
            }
        </ul>
    </div>*@


<div class="lynessa-Tabs-panel lynessa-Tabs-panel--description panel entry-content lynessa-tab"
     id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
    <h2>توضیحات محصول</h2>
    <div class="container-table">
        <div class="container-cell">
            <h2 class="az_custom_heading">رویال دو پددار<br>عنوان</h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </div>
        <div class="container-cell">
            <div class="az_single_image-wrapper az_box_border_grey">
                <img src="~/Content/client/images/12.jpg"
                     class="az_single_image-img attachment-full" alt="img">
            </div>
        </div>
    </div>
    <div class="container-table">
        <div class="container-cell">
            <div class="az_single_image-wrapper az_box_border_grey">
                <img src="~/Content/client/images/13.jpg"
                     class="az_single_image-img attachment-full" alt="img">
            </div>
        </div>
        <div class="container-cell">
            <h2 class="az_custom_heading">رویال دو پددار<br>عنوان</h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </div>
    </div>
</div>


