@model List<SpadStorePanel.Web.ViewModels.ProductFeatures_SubFeaturesViewModel>


<div class="lynessa-Tabs-panel lynessa-Tabs-panel--additional_information panel entry-content lynessa-tab"
     id="tab-additional_information" role="tabpanel"
     aria-labelledby="tab-title-additional_information">
    <h2>مشخصات</h2>
    <table class="shop_attributes">
        <tbody>
            @foreach (var feature in Model)
            {
                <tr>
                    <th> @feature.Title </th>
                    <td>
                        <p>
                            @{ string test = string.Join("، ", feature.SubFeatures);
                                @test
                            }
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


