@model SpadStorePanel.Web.ViewModels.GalleryViewModel


@*@{ 
    var galleryPlusImage = new List<string>();
    galleryPlusImage.Add(Model.Image);
    if (Model.GalleryImages != null)
    {
        foreach (var item in Model.GalleryImages)
        {
            galleryPlusImage.Add(item.Image);
        }
    }
}*@

<div class="single-left">

    <div class="lynessa-product-gallery lynessa-product-gallery--with-images lynessa-product-gallery--columns-4 images">
        <div class="flex-viewport">
            <figure class="lynessa-product-gallery__wrapper">

                    <div class="lynessa-product-gallery__image">
                        <a href="~/Files/ProductImages/Image/@Model.Image" data-lightbox="image-@Model.Image" class="lynessa-product-gallery__trigger">
                        </a>
                        <img alt="img"
                             src="~/Files/ProductImages/Image/@Model.Image">
                    </div>
                @foreach (var item in Model.GalleryImages)
                {
                    <div class="lynessa-product-gallery__image">
                        <a href="~/Files/ProductImages/ProductGallery/@item.Image" data-lightbox="image-@item.Image" class="lynessa-product-gallery__trigger">
                        </a>
                        <img alt="img"
                             src="~/Files/ProductImages/ProductGallery/@item.Image">
                    </div>
                }
            </figure>
        </div>
        <ol class="flex-control-nav flex-control-thumbs">
            <li>
                <img src="~/Files/ProductImages/Image/@Model.Image"
                     alt="img">
            </li>
            @foreach (var item in Model.GalleryImages)
            {
                <li>
                    <img src="~/Files/ProductImages/ProductGallery/@item.Image"
                         alt="img">
                </li>
            }

        </ol>

    </div>
</div>


