@model List<SpadStorePanel.Core.Models.ArticleTag>

@{ 

}
@*<div class="social_logo_item social_logo_instagram ">
        <a target="_blank" href="//@Model.Instagram">
            <div class="home_instagram center_absolute"></div>
        </a>
    </div>
    <div class="social_logo_item social_logo_aparat">
        <a target="_blank" href="//@Model.Aparat">
            <div class="home_aparat center_absolute"></div>
        </a>
    </div>*@

<div id="tag_cloud-3" class="widget widget_tag_cloud">
    <h2 class="widgettitle">
        برچسب ها<span class="arrow"></span>
    </h2>
    <div class="tagcloud">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <a href="#"
               class="tag-cloud-link tag-link-42 tag-link-position-@(i+1)"
               aria-label="Just In (@(i+1) items)">@Model[i].Title</a>

        }
    </div>
</div>
