@model List<SpadStorePanel.Web.ViewModels.ArticleCategoriesViewModel>

@*<div class="blog-left-title">
        دسته بندی
    </div>
    @if (Model.Any())
    {
        <ul class="blog-category">
            @foreach (var category in Model)
            {
                <li>
                    <a href="/Blog/@category.Id/@category.Title.Replace(" ","-")">
                        @category.Title
                    </a>
                </li>
            }
        </ul>
    }*@
<div id="categories-3" class="widget widget_categories">
    <h2 class="widgettitle">
        دسته بندی ها<span class="arrow"></span>
    </h2>
    <ul>
        @foreach (var item in Model)
        {
            <li class="cat-item cat-item-51">
                <a href="#">@item.Title</a>
            </li>
        }
    </ul>
</div>

