@model SpadStorePanel.Web.ViewModels.ContactUsViewModel

@{
    ViewBag.Title = "ثبت نام و ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-wrapper has_background">
    @*<img src="~/Content/client/images/23.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img" style="opacity: 0.3;">*@
      <img src="~/Files/StaticContentImages/Image/@ViewBag.BackImage"
         class="img-responsive attachment-1920x447 size-1920x447 col-md-12" alt="img" style="opacity: 0.3;">
    <div class="banner-wrapper-inner">
        <h1 class="page-title" style="font-size: 20px;">  @ViewBag.Title</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="~/Home"><span>خانه</span></a></li>
                <li class="trail-item trail-end active">
                    <span>@ViewBag.Title</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="lynessa">
                        <div class="lynessa-notices-wrapper"></div>
                        <div class="u-columns col2-set" id="customer_login">
                            @Html.Action("AccountLoginSection", "Home")

                            @Html.Action("AccountRegisterSection", "Home")

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





