@model SpadStorePanel.Web.ViewModels.EmailSubscriptionViewModel

@if (Model.DiscountDetails.Title.Contains("خبرنامه فعال"))
{
    <div class="section-001 section-009">
        <div class="container">
            <div class="lynessa-newsletter style-01">
                <div class="newsletter-inner">
                    <div class="newsletter-info">
                        <div class="newsletter-wrap">
                            <h3 class="title">خبرنامه<span></span></h3>
                            <h4 class="subtitle">@Model.DiscountDetails.ShortDescription</h4>
                            <p class="desc">
                                @Html.Raw(Model.DiscountDetails.Description)
                            </p>
                        </div>
                    </div>
                    <div class="newsletter-form-wrap">
                        <div class="newsletter-form-inner">
                            @*<form action="/" method="post" id="emailSub" name="emailSub">*@
                            <input class="email email-newsletter" name="email" id="email" placeholder="ایمیل خود را وارد کنید..."
                                   type="email">
                            @*<button type="button" onclick="submitEmailSubscriptionForm()" class="button btn-submit submit-newsletter"><i class="fa fa-envelope" id="btnsubmit"></i></button>*@

                            <a href="javascript:void(0)" class="button btn-submit submit-newsletter" id="btnsubmit" onclick="submitEmailSubscriptionForm()">
                                <span class="text">ارسال</span>
                            </a>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}