@model SpadStorePanel.Core.Models.StaticContentDetail

<div class="lynessa-heading style-01">
    <div class="heading-inner">
        <h3 class="title">
            <a href="@Model.Link">
                @Html.Raw(Model.ShortDescription)
            </a>
        </h3>
        <div class="subtitle">
            <a href="@Model.Link">@Html.Raw(Model.Description)</a>
            
        </div>
    </div>
</div>
