@model List<SpadStorePanel.Core.Models.Offer>

<div class="section-013 section-001">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="lynessa-banner style-03 left-center">
                            <div class="banner-inner">
                                <figure class="banner-thumb">
                                    <img src="~/Files/OffersImages/@item.Image"
                                         class="attachment-full size-full" alt="@item.Title">
                                </figure>
                                <div class="banner-info ">
                                    <div class="banner-content">
                                        <div class="title-wrap">
                                            <h6 class="title">
                                                <a target="_self" href="/Shop" @*href="~/Offer?offerId=@item.Id"*@> بیشتر</a>
                                            </h6>
                                        </div>
                                        <div class="cate"> @item.Title </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

