@model SpadStorePanel.Web.ViewModels.InstaGalleryViewModel

<div class="lynessa-instagram style-01">
    <div class="instagram-owl owl-slick"
         data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
         data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
        @foreach (var item in Model.Images)
        {
            <div class="rows-space-0">
                <a href="#" class="item">
                    <img class="img-responsive" src="~/Files/StaticContentImages/Image/@item.Image" alt="@item.Title">
                    <span class="instagram-info">
                        <span class="social-wrap">
                            <span class="social-info">
                                1                                                <i class="flaticon-chat"></i>
                            </span>
                            <span class="social-info">
                                0                                                <i class="flaticon-heart-shape-outline"></i>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        }
        @*<div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta1.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta2.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta3.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta4.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta5.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta6.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta7.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="rows-space-0">
            <a href="#" class="item">
                <img class="img-responsive" src="~/Content/client/images/insta8.jpg" alt="About">
                <span class="instagram-info">
                    <span class="social-wrap">
                        <span class="social-info">
                            1                                                <i class="flaticon-chat"></i>
                        </span>
                        <span class="social-info">
                            0                                                <i class="flaticon-heart-shape-outline"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>*@
    </div>
</div>
