@model List<SpadStorePanel.Core.Models.StaticContentDetail>




<div class="section-014">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="lynessa-iconbox style-02">
                        <div class="iconbox-inner">
                            <div class="icon">
                                @*<span class="pe-7s-rocket"></span>*@@Html.Raw(item.ShortDescription)
                            </div>
                            <div class="content">
                                <h4 class="title">@item.Title</h4>
                                <div class="desc">
                                    @Html.Raw(item.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>